[MESSAGES CONTROL]
disable = C0301,
          import-error,
          too-few-public-methods,
          duplicate-code

[MASTER]
ignore-paths = alembic

[BASIC]
const-rgx = (([A-Z_][A-Z0-9_]*)|([a-z_][a-z0-9_]*)|(__.*__))$